# Archivos de sistema (Basura que crea Windows o Mac)
Thumbs.db
.DS_Store

# Archivos de configuración sensible (¡MUY IMPORTANTE!)
.env
*.log
secrets.txt

# Carpetas de dependencias (Si usas Node.js o Python)
node_modules/
__pycache__/
venv/
.venv/

# Archivos de editores de código
.vscode/
.idea/
*.sublime-project